<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Error</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body style="background-color:lightblue;font-family: Impact">
    <center>
    <h1>
    <img src="https://cdn.pixabay.com/photo/2016/08/06/16/59/pokemon-1574647_1280.png" alt="Error" style="widows: 250px;height:250px">
    <hr>
    <p>POKEMON TIDAK DITEMUKAN!</p>
    <p>Coba Lagi?</p>
    <hr>
    </h1>
    <br>
        <form action="http://localhost:5000/">
            <p> 
            <input type="submit" value="Kembali">
            </p>
        </form>
    </center>
</body>
</html>
