<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Not Found</title>
    <link rel="stylesheet" type="text/css" href="../static/error.css">
</head>
<body>
    <h1>
        <center>
            Oops! 
        </center>
    </h1>
    <h2>
        <center>
            We can't seem to find that page
        </center>
    </h2>
    <center>
        <form action="http://localhost:5000/">
            <p> 
            <input type="submit" value="Kembali">
            </p>
        </form>
    </center>
</body>
</html>