
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Silahkan sign in</title>
</head>
<body><center>
        <h1>
            POKEMON
            </h1>
            <form action="http://localhost:5000/hasil" method="post">
            <p>
                <input name="nama" type="text" placeholder="Ketik Nama Pokemon..."></p>
            <p>
                <input type="submit" value="Cari">
            </p>
            </form>
</center></body>
</html>